@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.......... shared styles........... */
#header-container,
#main-container,
#our-story-container {
  width: 100%;
}
#header-container .header,
#header-container .banner,
#main-container .main,
#our-story-container .our-story {
  max-width: 81vw;
  padding: 1rem 0;
  margin: 0 auto;
}

.primary-btn {
  border-radius: 0.75rem;
  color: white;
  padding: 0.6rem 3rem;
  font-weight: 600;
  font-size: 1.25rem;
  border-style: none;
  cursor: pointer;
}

.section-title {
  font-weight: bold;
  font-size: 2.8rem;
}
.paragraph {
  color: rgba(102, 102, 102, 1);
  font-size: 0.96rem;
  font-weight: 500;
  line-height: 1.8;
}
/*.........navbar related styles................. */
#menu-icon {
  display: none;
}

.school-logo > img {
  width: 3.8rem;
  height: 3.8rem;
  object-fit: contain;
}

.header,
.logo-container,
.navbar,
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#site-name {
  font-size: 2rem;
  font-weight: bold;
}

.nav-links li {
  list-style: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.nav-links {
  gap: 2rem;
}
.contact-btn {
  background-color: orange;
}

/*....... main div related styles.......... */
#main-container {
  height: auto;
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/*............. banner section styles............ */
.banner-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.13rem;
}
.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1.5rem;
}
.banner-title {
  font-size: 3.5rem;
  font-weight: bold;
}

.banner-description {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: auto;
}
.banner-btn {
  background-color: black;
  width: 12.7rem;
}

/* .....curriculum related styles.....*/
.curriculum-heading,
.our-stories {
  text-align: center;
  margin: 4rem 0;
}
.cc-card-image {
  width: 127px;
  height: 127px;
  object-fit: contain;
  margin: 0 auto;
}
.cc-card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.curriculum-card-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.7rem;
  flex: 1;
}

.kinder {
  background-image: linear-gradient(
    rgba(222, 245, 255, 1),
    rgba(255, 255, 255, 1)
  );
}
.elementary {
  background-image: linear-gradient(
    rgba(255, 244, 220, 1),
    rgba(255, 255, 255, 1)
  );
}
.middle {
  background-image: linear-gradient(
    rgba(242, 232, 255, 1),
    rgba(255, 255, 255, 1)
  );
}
.curriculum-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 3rem 0;
  text-align: center;
  border-radius: 1.18rem;
  border-style: none;
  box-shadow: inset 0rem 0rem 1.77rem 0.06rem rgba(0, 0, 0, 0.05);
}
.cc-card-link > a {
  text-decoration: none;
  font-size: 0.94rem;
  font-weight: bold;
}
.cc-card-link {
  margin-top: 2rem;
  align-self: center;
}
.color-1 > a {
  color: #64c8ff;
}
.color-2 > a {
  color: rgba(240, 170, 0, 1);
}
.color-3 > a {
  color: rgba(135, 0, 255, 1);
}

.cc-card-description {
  margin: 0 2.5rem;
  flex-grow: 1;
}
.cc-card-title {
  color: rgba(32, 32, 32, 1);
  font-weight: bold;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.arrow-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  text-align: center;
  margin-top: 2rem;
}
.left-arrow,
.right-arrow {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: orange;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  border-style: none;
}

/* ........ our story related styles.......... */
#our-story-container {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(254, 163, 1, 0.3)
    ),
    url("../assets/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.story-card-container .s6,
.story-card-container .s7 {
  display: none;
  padding: 0;
  margin: 0;
}

/* grid-area layout */
/* .s1 {
  grid-area: s1;
}
.s2 {
  grid-area: s2;
}
.s3 {
  grid-area: s3;
}
.s4 {
  grid-area: s4;
}
.s5 {
  grid-area: s5;
} */
#s1 {
  grid-row: span 2;
}
.story-card-container {
  display: grid;
  /* grid-template-areas:
    "s1 s2 s3"
    "s1 s4 s5"; */
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2 1fr;
  gap: 1.2rem;
}
.story-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: white;
  border: 1px solid black;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: stretch;
}
.story-image {
  text-align: center;
  height: 60%;
}

.story-image img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-date {
  position: absolute;
  bottom: 35%;
  padding: 0.7rem;
  width: 50%;
  text-align: center;
  background-color: rgba(93, 88, 240, 1);
  color: white;
  border-style: none;
  border-radius: 3rem;
  font-size: 0.7rem;
  font-weight: 500;
  margin-left: 2.37rem;
}
.story-title {
  font-weight: bold;
  font-size: 0.96rem;
  line-height: 1.8rem;
  margin: 1rem 0;
  margin-left: 2.37rem;
}
.story-btn {
  text-align: center;
  margin: 4rem 0;
}
/* .........special style for big story box */
.story-1-description {
  margin-left: 2.37rem;
}
.story-1-title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem 0;
  margin-top: 2rem;
  margin-left: 2.37rem;
}

.story-1-date {
  position: absolute;
  bottom: 35%;
  padding: 0.7rem;
  width: 50%;
  text-align: center;
  background-color: rgba(93, 88, 240, 1);
  color: white;
  border-style: none;
  border-radius: 3rem;
  font-size: 0.96rem;
  font-weight: 500;
  margin-left: 2.37rem;
}
